<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermes</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{layout/header :: header}"></th:block>

<div class="index_container">
    <!-- 메인 이미지 -->
    <!-- 이미지를 조건문으로 하나만 들고오기-->
    <!-- mainnumStat 는 변수명(mainnum) + status 변수 -> status 문은 th:each 문에서 반복상태를 추척할 수 있는 변수 -->
    <div class="index_main" th:each="i, mainnumStat : ${products}">
        <img class="index_mainImage" th:if="${mainnumStat.index == 50}" th:src="${i.product_image_path}" alt="제품 이미지">
    </div>
    <p class="index_minlisttext">오늘의 추천 상품</p>
    <!-- 3 ~ 9 번 이미지만 출력하기 위한 조건문 -->
    <!-- 이미지를 리스트로 불러와서 each 문으로 하나씩 출력 -->
    <div class="index_List" th:each="p, listnumStat : ${products}">
        <a th:href="@{/product_details_page/{id}(id=${p.product_reg_num})}">
            <img class="index_ImageList"
                 th:if="${listnumStat.index >= 3 && listnumStat.index < 9}"
                 th:src="${p.product_image_path}"
                 alt="제품 리스트"></a>
    </div>

</div>

<th:block th:replace="~{layout/footer :: footer}"></th:block>
</body>
</html>
